views -> fetch01
<script>
    function test() {
        // location.href="/non_fetch";
        fetch("/fetch01"); //새로받아오는것이 아니라 빠름
    }
</script>
<h1>일</h1> <h1>일</h1> <h1>일</h1> <h1>일</h1> 
<h1>일</h1> <h1>일</h1> <h1>일</h1> <h1>일</h1>
<button onclick="test()">클릭</button>